<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Russian Texts</title>

    <!-- Telegram Web App SDK -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <!-- Шрифты и стили -->
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div class="container">
        <div id="content"></div>  <!-- Контейнер для динамического контента -->
    </div>

    <!-- Подключение JS -->
    <script src="/static/js/script.js"></script>
</body>
</html>

